/* default rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline;
    font-size: 14px;
}

h4 {
    text-transform: uppercase;
}

h5 {
    text-align: left;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    color: rgb(101, 101, 101);
}

a {
    color: #fff;
    text-decoration: none;
}

i {
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
}

.items-container {
    flex-wrap: wrap;
}



/* header style */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #f35a02;
    padding: 21px;
    color: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,.5);
}

.navbar ul li {
    margin-right: 9px;
}

.logo-col img {
    height: 24px;
}

.icons-col a{
    padding: 0px 4px;
}





/* main content style */

main {
    margin-top:116px
}

.store-item-col {
    position: relative;
    width: calc(32%);
}
.image-box {
    position: relative;
}

.image-hover {
    position: absolute;
    top: 0;
    display: none;
}

.image-box:hover {
    cursor: pointer;
}

.image-box:hover .image-hover {
    display: block;
}

/* heart-box style */

.heart-box {
    position: absolute;
    top: 8px;
    right: 0;
    background-color: #fff;
    padding: 8px 12px;
}

.heart-box:hover {
    color: #F10103;
}

/* tags style */

.item-tags {
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    color: #fff;
}

.red-tag {
    padding: 5px 10px;
    background-color: #F10103;
}
.green-tag {
    padding: 5px 10px;
    background-color: #248000;
}

/* info box style */

.info-box {
    padding: 4px 0px 42px 0px;
}

.red-price {
    font-size: 12px;
    color: #F10103;
}

.old-price {
    font-size: 12px;
    color: rgb(101, 101, 101);
    text-decoration: line-through;
    margin-left: 6px;
}




/* footer */

footer {
    background-color: #1A1A1A;
    padding: 21px;
    color: #fff;
}

.company-col ul li {
    font-size: 12px;
    margin-right: 6px;
}

.socials-col {
    text-align: right;
}

.socials-col span i {
    font-size: 18px;
    margin-right: 4px;
}
