/* default rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
}

.items-container {
    flex-wrap: wrap;
}


/* main content */

.store-item-col {
    width: calc(32%);
}

.image-box {
    height: 450px;
    background-color: #888888;
}

.info-box {
    height: 150px;
    background-color: #3c3c3c;
}